<div class="fixed bottom-0 right-0 mr-64 mb-10">
    <a  href="https://github.com/JoeM01" target="_blank" class="inline-block mr-3">
      <!-- GitHub Icon -->
      <img class="opacity-50 transition-opacity hover:opacity-100" src="/assets/Github.svg" alt="GitHub">
    </a>
    <a href="https://linkedin.com/in/joe-martinez2001" target="_blank" class="inline-block mr-3">
      <!-- LinkedIn Icon -->
      <img class="opacity-50 transition-opacity hover:opacity-100" src="/assets/LinkedIn.svg" alt="LinkedIn">
    </a>
    <a href="/assets/Joe Martinez - Resume.pdf" download class="inline-block">
      <!-- Download Icon -->
      <img class="opacity-50 transition-opacity hover:opacity-100" src="/assets/Download Button.svg" alt="Download">
    </a>
  </div>
  