/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-background;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading text-heading;  // Apply custom heading size
      }
      body, p, ul, ol, td, th, input, textarea, button {
        @apply font-body text-base;  // Apply base body text size
      }
      small {  // Apply smaller text size
        @apply font-body text-small;
      }
}

@layer components{
  .active-header{
    @apply bg-accent-2 transition-all ease-linear duration-500
  }
  .resume_header{
    @apply p-2
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 500ms ease-in;
}